body {
  margin: 0;
  background-color: #171c28;
  font-family: 'Roboto Mono', monospace;
}

.hero {
  /* Sizing */
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;

  /* Flexbox centering */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Text Styles */
  text-align: center;
}

.hero::before {
  content: "";
  background-image: url("Landing Image.JPG");
  background-size: cover;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

.hero .name-text {
  font-size: 5em;
  margin-top: 40%;
  margin-bottom: 5%;
  animation: slideUp ease 1.5s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.hero .swe-text {
  font-size: 3em;
  animation: slideDown ease 1.5s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.navbar-nav {
  /* animation: fadeIn 2s normal forwards;
  animation-delay: 2s; */
}
.navbar-light .navbar-brand {
  /* animation: fadeIn 2s normal forwards;
  animation-delay: 2s; */
  color: white;
}
.navbar-light .navbar-toggler {
  /* animation-iteration-count: 1;
  animation: fadeIn 2s normal forwards;
  animation-delay: 2s; */
  border: none;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
}

/* .navbar-collapse, 
  .navbar-collapse.collapse,
  .navbar-collapse.in, 
  .navbar-collapse.collapsing{
      max-height: 100vh;  
      background-color: pink;
  }
  .navbar-collapse.in{
      height: 100vh;
  }   

  .navbar-expander{
      display:block;
  } */


.navbar-light .navbar-nav .nav-link {
  animation-iteration-count: 1;
  color: white;
}

.navbar-nav > li{
  padding-left:12px;
  padding-right:12px;
}

/* Social media icons */
li a i  {
  color: white;
  margin: 0 0;
  padding: 0 0;
  z-index: 0;
  position:relative;
  padding-top: 50%;
}

hr {
  border: 2px solid white;
  border-radius: 5px;
  width:0%;
}

.fab:hover  {
  color: black;
}

.resume-btn {
  padding-left: 10px !important;
  color: white;
  border-color: white;
}

.about-me {
  padding: 5em 5em;
  color: white;
}

.about-me-title {
  padding-bottom: 50px;
}

.about-me-img {
  /* Flexbox centering */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.about-me-img img {
  height: 25em;
  width: 18em;
  border-radius: 0.25em;
}

.about-me-text {
  font-family: 'Roboto', sans-serif;
}

/* Animations */

/* Fade in animation for navbar and social media icons */
.fade-in {
  animation: 2s fadeIn 2s both;
  -webkit-animation: 2s fadeIn 2s both;
  -moz-animation: 2s fadeIn 2s both;
  -o-animation: 2s fadeIn 2s both;
  -ms-animation: 2s fadeIn 2s both;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/* Slide up animation for "Rishab Chawla" */
.slide-up {
  position: relative;
  animation: 2s slideUp 2s both;
}

@keyframes slideUp {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    visibility: visible;
    top: 0;
    opacity: 1;
  }
}

/* Slide down animation for "Software Engineer" */
.slide-down {
  position: relative;
  animation: slideDown ease 3s;
  animation-delay: 2s;
}

@keyframes slideDown {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    visibility: visible;
    top: 0;
    opacity: 1;
  }
}

/* Horizontal rule build animation */
.zoom-in {
  animation: zoomIn 0.75s linear forwards;
}

@keyframes zoomIn {
  from {
    width:0%;
  }
  to {
    width:90%;
  }
}

/* Waving hand emoji. Source: https://jarv.is/notes/css-waving-hand-emoji/ */
.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}