body {
  margin: 0;
  background-color: #171c28;
  font-family: 'Roboto', sans-serif;
}

.hero {
  /* Sizing */
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;

  /* Flexbox centering */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Text Styles */
  text-align: center;
}

.hero::before {
  content: "";
  background-image: url("Landing Image.JPG");
  background-size: cover;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

.hero h1 {
  font-size: 3em;
  position: relative;
}

.hero .name-text {
  font-size: 5em;
  margin-top: 70%;
  margin-bottom: 5%;
  font-family: 'Dancing Script', serif;
}

.navbar-light .navbar-brand {
  color: white;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-nav > li{
  padding-left:12px;
  padding-right:12px;
}

li a i  {
  color: white;
  margin: 0 0;
  padding: 0 0;
  z-index: 0;
  position:relative;
  padding-top: 50%;
}
.fab:hover  {
  color: black;
}

.resume-btn {
  padding-left: 10px !important;
  color: white;
  border-color: white;
}
.custom-toggler.navbar-toggler {
  border-color: white;
} 

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}