body {
  margin: 0;
  background-color: #060d29;
  font-family: "Roboto Mono", monospace;
  overscroll-behavior-y: none;
}

.fa-bars {
  color: white;
}

.hero {
  /* Sizing */
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;

  /* Flexbox centering */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text Styles */
  text-align: center;
}

.hero::before {
  content: "";
  background-image: url("../resources/images/landing_portrait.JPG");
  background-size: cover;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.hero .name-text {
  font-size: 5em;
  margin-top: 40%;
  margin-bottom: 5%;
  animation: slideUp ease 1.5s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.hero .swe-text {
  font-size: 3em;
  animation: slideDown ease 1.5s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

nav {
  position: fixed;
  /* top: 0; */
  transition: 0.4s;
}

.nav-bg {
  background-color: #060d29;
  box-shadow: 0px 1px 15px black;
}
.navbar-light .navbar-brand {
  /* animation: fadeIn 2s normal forwards;
  animation-delay: 2s; */
  color: white;
}
.navbar-light .navbar-toggler {
  /* animation-iteration-count: 1;
  animation: fadeIn 2s normal forwards;
  animation-delay: 2s; */
  border: none;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-nav > li {
  padding-left: 12px;
  padding-right: 12px;
}

/* Social media icons */
.landing-list-icon {
  color: white;
  margin: 0 0;
  padding: 0 0;
  z-index: 0;
  position: relative;
  padding-top: 50%;
}

hr {
  border: 2px solid white;
  border-radius: 5px;
  width: 0%;
  position: relative;
}

.fab:hover {
  /* color: black; */
}

.resume-btn {
  padding-left: 10px !important;
  color: white;
  border-color: white;
}

.about-me {
  padding: 20vh 6vw 20vh 6vw;
  color: black;
  background-color: #f0f0f0;
}

.section-title {
  padding: 0em 0em 2em 0em;
  color: black;
  z-index: 0;
  opacity: 1;
  position: relative;
  text-align: center;
}

.about-me-img {
  /* Flexbox centering */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.about-me-img img {
  height: 25em;
  width: 18em;
  border-radius: 0.25em;
}

.about-me-text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.skills {
  color: white;
  /* padding: 10em 2em 8em 2em; */
  padding: 20vh 6vw 20vh 6vw;
}

.skills-section-title {
  color: white;
  text-align: center;
  padding-bottom: 2em;
}

.lang-icons {
  display: inline-block;
  text-align: center;
  padding: 1em 0em;
}

.lang-text {
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  padding-top: 1em;
  font-size: 1.5em;
}

.list-col {
  text-align: center;
  padding-bottom: 2em;
  font-family: "Roboto", sans-serif;
}

.list-col h3 {
  font-weight: 500;
  font-size: 1.5em;
}

.list-col ul {
  display: inline-block;
  text-align: left;
  padding-left: 0px;
}

.list-col ul li {
  font-weight: 300;
}

.experience {
  /* Sizing */
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
}

.experience::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background-image: url("../resources/images/experience_bg3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.4;
  /* background-color: #131c42; */
}

.experience .container {
  padding: 10vh 6vw 10vh 6vw;
}

.experience-section-title {
  color: white;
  text-align: center;
  position: relative;
  padding-bottom: 2em;
}

/* Work Experience Timeline */

.timeline {
  position: relative;
  font-family: "Roboto", "sans-serif";
}

.timeline::before {
  content: "";
  height: 100%;
  width: 1px;
  border-left: 2px solid #f892b7;
  position: absolute;
  left: 29.95%;
  top: -25px;
}

/* .timeline .timeline-arrow {
  position: absolute;
  transform: translateX(-50%) translateY(-40%);
  left: 30.1%;
  color: white;
}

.timeline-arrow-down {
  position: absolute;
  transform: translateX(-50) translateY(40%);
  color: white;
  left: 20%;
} */

.timeline .timeline-box {
  padding-left: 0px;
  display: table;
  table-layout: fixed;
  width: 100%;
  position: relative;
  color: white;
  margin: 0;
  /* z-index: 1; */
}

.timeline .timeline-icon {
  content: "";
  height: 20px;
  width: 20px;
  background-color: rgba(255, 255, 255, 1);
  /* opacity: 0; */
  border: 1px solid white;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 30%;
  top: 48%;
  /* z-index: -1; */
}

.timeline .timeline-box .timeline-box-left {
  width: 30%;
  display: table-cell;
  padding-right: 2em;
  text-align: right;
  vertical-align: middle;
}
.timeline .timeline-box .timeline-box-right {
  width: 70%;
  display: table-cell;
  vertical-align: top;
  padding-left: 2em;
  /* background-color: black; */
  padding-bottom: 1em;
}
.timeline .timeline-content {
  /* background-color: black; */
  padding: 1em 1em 0.5em 1em;
  /* border: 1px solid white; */
  border-radius: 5px;
  position: relative;
  background: rgba(4, 16, 62, 0.8);
}

/* Styles for company name */
.timeline .timeline-role {
  letter-spacing: 1px;
  margin: 0;
  z-index: 1;
  opacity: 1;
  font-size: 18px;
  padding-bottom: 0.5em;
}

.timeline .timeline-company {
  color: #f892b7;
  font-size: 22px;
}

.timeline .description {
  font-weight: 300;
}

.demo-icon {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}

.projects {
  background-color: #eeeeee;
  padding: 10vh 0vw;
}

.project-section-title {
  text-align: center;
  padding-bottom: 1em;
}

.project-card {
  width: 90%;
  background-color: white;
  border-radius: 5px;
  font-family: "Roboto", "sans-serif";
  margin: 2em auto;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

.project-card .project-img {
  width: 100%;
  height: 15em;
  border-radius: 5px 5px 0px 0px;
}
.project-card .project-title {
  padding-top: 0.5em;
  text-align: center;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
}

.project-card .project-description {
  padding: 0.25em 1em 0em 1em;
}
.project-card .btn-learn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0em;
}

.project-card .btn-learn-wrapper .btn-learn {
  width: 90%;
  color: #060d29;
  border-color: #060d29;
}

.btn-learn:hover {
  color: white !important;
  background-color: #131c42;
}

.project-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0em 2em;
  width: 100%;
}

.project-list-wrapper i {
  padding: 0 0.2em;
}

.project-list-wrapper i:hover {
  color: #4759ab !important;
}

.project-tags-wrapper li {
  padding: 5px 0px;
}

.lang-tag {
  background-color: #eeeeee;
  border-radius: 5px;
  color: #131c42;
  font-weight: 300;
  padding: 3px 4px;
}

.contact {
  padding: 2em 1em;
}

.contact-section-title {
  text-align: center;
}
.contact-description {
  color: white;
  font-family: "Roboto", "sans-serif";
  font-weight: 300;
  font-size: large;
  text-align: center;
  padding: 1em 0em;
  margin: 0;
}
.contact-description ul {
  margin-bottom: 0;
}

.email-btn {
  font-family: "Roboto", "sans-serif";
  color: white;
  border-color: white;
}
.email-btn {
  font-family: "Roboto", "sans-serif";
  color: white;
  border-color: white;
  text-align: center;
  margin: auto;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 5px;
}

.email-btn:hover {
  background-color: rgb(232, 232, 232);
  border-color: rgb(232, 232, 232);
  color: #131c42;
}

/* Animations */

/* Fade in animation for navbar and social media icons */
.fade-in {
  animation: 2s fadeIn 2s both;
  -webkit-animation: 2s fadeIn 2s both;
  -moz-animation: 2s fadeIn 2s both;
  -o-animation: 2s fadeIn 2s both;
  -ms-animation: 2s fadeIn 2s both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Slide up animation for "Rishab Chawla" */
.slide-up {
  position: relative;
  animation: 2s slideUp 2s both;
}

@keyframes slideUp {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    visibility: visible;
    top: 0;
    opacity: 1;
  }
}

/* Slide down animation for "Software Engineer" */
.slide-down {
  position: relative;
  animation: slideDown ease 3s;
  animation-delay: 2s;
}

@keyframes slideDown {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    visibility: visible;
    top: 0;
    opacity: 1;
  }
}

/* Horizontal rule build animation */
.zoom-in {
  animation: zoomIn 0.75s linear forwards;
}

@keyframes zoomIn {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

/* Waving hand emoji. Source: https://jarv.is/notes/css-waving-hand-emoji/ */
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
