body {
  margin: 0;
  background-color: #171c28;
  font-family: "Roboto Mono", monospace;
  overscroll-behavior-y: none;
}

.fa-bars {
  color: white;
}

.hero {
  /* Sizing */
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;

  /* Flexbox centering */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text Styles */
  text-align: center;
}

.hero::before {
  content: "";
  background-image: url("../images/landing_portrait.JPG");
  background-size: cover;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

.hero .name-text {
  font-size: 5em;
  margin-top: 40%;
  margin-bottom: 5%;
  animation: slideUp ease 1.5s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.hero .swe-text {
  font-size: 3em;
  animation: slideDown ease 1.5s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.navbar-nav {
  /* animation: fadeIn 2s normal forwards;
  animation-delay: 2s; */
}
.navbar-light .navbar-brand {
  /* animation: fadeIn 2s normal forwards;
  animation-delay: 2s; */
  color: white;
}
.navbar-light .navbar-toggler {
  /* animation-iteration-count: 1;
  animation: fadeIn 2s normal forwards;
  animation-delay: 2s; */
  border: none;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
}

/* .navbar-collapse, 
  .navbar-collapse.collapse,
  .navbar-collapse.in, 
  .navbar-collapse.collapsing{
      max-height: 100vh;  
      background-color: pink;
  }
  .navbar-collapse.in{
      height: 100vh;
  }   

  .navbar-expander{
      display:block;
  } */

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-nav > li {
  padding-left: 12px;
  padding-right: 12px;
}

/* Social media icons */
li a i {
  color: white;
  margin: 0 0;
  padding: 0 0;
  z-index: 0;
  position: relative;
  padding-top: 50%;
}

hr {
  border: 2px solid white;
  border-radius: 5px;
  width: 0%;
}

.fab:hover {
  color: black;
}

.resume-btn {
  padding-left: 10px !important;
  color: white;
  border-color: white;
}

.about-me {
  padding: 10em 5em;
  color: white;
}

.section-title {
  padding-bottom: 50px;
}

.about-me-img {
  /* Flexbox centering */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.about-me-img img {
  height: 25em;
  width: 18em;
  border-radius: 0.25em;
}

.about-me-text {
  font-family: "Roboto", sans-serif;
}

.skills {
  color: white;
  padding: 10em 5em;
}

.lang-icons {
  display: inline-block;
  text-align: center;
  padding: 2em 2em;
}

.lang-text {
  padding-top: 1em;
  font-size: 1.5em;
}

.list-col {
  text-align: center;
  padding-bottom: 2em;
  font-family: "Roboto", sans-serif;
}

.list-col h3 {
  font-weight: bolder;
}

.list-col ul {
  display: inline-block;
  text-align: left;
  padding-left: 0px;
}

.list-col ul li {
  list-style-type: gurmukhi;
  font-weight: 300;
}

.cd-timeline {
  overflow: hidden;
  padding: var(--space-lg) 0;
}

.cd-timeline__container {
  position: relative;
  padding: var(--space-md) 0;

  &::before {
    // this is the timeline vertical line
    content: "";
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: var(--cd-color-2);
  }
}

.cd-timeline__block {
  display: flex;

  @include breakpoint(md) {
    &:nth-child(even) {
      flex-direction: row-reverse; // for even blocks -> lay out content from right to left
    }
  }
}

.cd-timeline__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  @include breakpoint(md) {
    order: 1; // flex order -> place the image after cd-timeline__content
  }
}

.cd-timeline__content {
  flex-grow: 1; // expand element so that it takes up all the available space inside its parent

  @include breakpoint(md) {
    width: 45%;
    flex-grow: 0; // prevent element from growing inside its parent
  }
}

@include breakpoint(md) {
  // animations
  .cd-timeline__img--hidden,
  .cd-timeline__content--hidden {
    visibility: hidden;
  }

  .cd-timeline__img--bounce-in {
    animation: cd-bounce-1 0.6s;
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Animations */

/* Fade in animation for navbar and social media icons */
.fade-in {
  animation: 2s fadeIn 2s both;
  -webkit-animation: 2s fadeIn 2s both;
  -moz-animation: 2s fadeIn 2s both;
  -o-animation: 2s fadeIn 2s both;
  -ms-animation: 2s fadeIn 2s both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Slide up animation for "Rishab Chawla" */
.slide-up {
  position: relative;
  animation: 2s slideUp 2s both;
}

@keyframes slideUp {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    visibility: visible;
    top: 0;
    opacity: 1;
  }
}

/* Slide down animation for "Software Engineer" */
.slide-down {
  position: relative;
  animation: slideDown ease 3s;
  animation-delay: 2s;
}

@keyframes slideDown {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    visibility: visible;
    top: 0;
    opacity: 1;
  }
}

/* Horizontal rule build animation */
.zoom-in {
  animation: zoomIn 0.75s linear forwards;
}

@keyframes zoomIn {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

/* Waving hand emoji. Source: https://jarv.is/notes/css-waving-hand-emoji/ */
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
