body {
  margin: 0;
  background-color: #060d29;
  font-family: "Roboto Mono", monospace;
  overscroll-behavior-y: none;
}

.fa-bars {
  color: white;
}

.hero {
  /* Sizing */
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;

  /* Flexbox centering */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text Styles */
  text-align: center;
}

.hero::before {
  content: "";
  background-image: url("../resources/images/landing_portrait.JPG");
  background-size: cover;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.hero .name-text {
  font-size: 5em;
  margin-top: 40%;
  margin-bottom: 5%;
  animation: slideUp ease 1.5s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.hero .swe-text {
  font-size: 3em;
  animation: slideDown ease 1.5s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.navbar-nav {
  /* animation: fadeIn 2s normal forwards;
  animation-delay: 2s; */
}
.navbar-light .navbar-brand {
  /* animation: fadeIn 2s normal forwards;
  animation-delay: 2s; */
  color: white;
}
.navbar-light .navbar-toggler {
  /* animation-iteration-count: 1;
  animation: fadeIn 2s normal forwards;
  animation-delay: 2s; */
  border: none;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
}

/* .navbar-collapse, 
  .navbar-collapse.collapse,
  .navbar-collapse.in, 
  .navbar-collapse.collapsing{
      max-height: 100vh;  
      background-color: pink;
  }
  .navbar-collapse.in{
      height: 100vh;
  }   

  .navbar-expander{
      display:block;
  } */

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-nav > li {
  padding-left: 12px;
  padding-right: 12px;
}

/* Social media icons */
li a i {
  color: white;
  margin: 0 0;
  padding: 0 0;
  z-index: 0;
  position: relative;
  padding-top: 50%;
}

hr {
  border: 2px solid white;
  border-radius: 5px;
  width: 0%;
  position: relative;
}

.fab:hover {
  color: black;
}

.resume-btn {
  padding-left: 10px !important;
  color: white;
  border-color: white;
}

.about-me {
  padding: 10em 5em;
  color: white;
}

.section-title {
  padding-bottom: 50px;
  color: white;
  z-index: 0;
  opacity: 1;
  position: relative;
}

.about-me-img {
  /* Flexbox centering */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.about-me-img img {
  height: 25em;
  width: 18em;
  border-radius: 0.25em;
}

.about-me-text {
  font-family: "Roboto", sans-serif;
}

.skills {
  color: white;
  padding: 10em 5em;
}

.lang-icons {
  display: inline-block;
  text-align: center;
  padding: 1em 0em;
}

.lang-text {
  padding-top: 1em;
  font-size: 1.5em;
}

.list-col {
  text-align: center;
  padding-bottom: 2em;
  font-family: "Roboto", sans-serif;
}

.list-col h3 {
  font-weight: bolder;
}

.list-col ul {
  display: inline-block;
  text-align: left;
  padding-left: 0px;
}

.list-col ul li {
  font-weight: 300;
}

.experience {
  /* Sizing */
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
}

.experience::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background-image: url("../resources/images/experience_bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.5;
}

/* Work Experience Timeline */

.timeline {
  position: relative;
  font-family: "Roboto", "sans-serif";
}

.timeline::before {
  content: "";
  height: 100%;
  width: 1px;
  border-left: 2px solid rgb(149, 149, 149);
  /* transform: translateX(-70%); */
  position: absolute;
  left: 29.95%;
  top: -25px;
}

/* .timeline .timeline-arrow {
  position: absolute;
  transform: translateX(-50%) translateY(-40%);
  left: 30.1%;
  color: white;
}

.timeline-arrow-down {
  position: absolute;
  transform: translateX(-50) translateY(40%);
  color: white;
  left: 20%;
} */

.timeline .timeline-box {
  padding-left: 0px;
  display: table;
  table-layout: fixed;
  width: 100%;
  position: relative;
  color: white;
  margin: 0;
  /* z-index: 1; */
}

.timeline .timeline-icon {
  content: "";
  height: 15px;
  width: 15px;
  background-color: rgba(255, 255, 255, 1);
  /* opacity: 0; */
  border: 1px solid white;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 30%;
  top: 20px;
  /* z-index: -1; */
}

.timeline .timeline-box .timeline-box-left {
  width: 30%;
  display: table-cell;
  padding-right: 2em;
  text-align: right;
  vertical-align: top;
}
.timeline .timeline-box .timeline-box-right {
  width: 70%;
  display: table-cell;
  vertical-align: top;
  padding-left: 2em;
  /* background-color: black; */
  padding-bottom: 1em;
}
.timeline .timeline-content {
  /* background-color: black; */
  padding: 1em 1em 0.5em 1em;
  /* border: 1px solid white; */
  border-radius: 5px;
  position: relative;
  background: rgba(0, 0, 0, 0.8);
}


/* .timeline .timeline-box:after {
  background-color: white;
  height: 35px;
  width: 35px;
  border: none;
  border-radius: 0;
  transform: translateX(0) translateY(-50%) rotate(45deg);
  left: 40.5%;
} */

/* .timeline .timeline-content:hover {
  /* background-color: rgb(139, 126, 126); */
} */

/* Styles for company name */
.timeline .timeline-title {
  letter-spacing: 1px;
  margin: 0;
  z-index: 1;
  opacity: 1;
}

.timeline .description {
  /* padding: 10px 10px 10px 10px; */
}

/* Animations */

/* Fade in animation for navbar and social media icons */
.fade-in {
  animation: 2s fadeIn 2s both;
  -webkit-animation: 2s fadeIn 2s both;
  -moz-animation: 2s fadeIn 2s both;
  -o-animation: 2s fadeIn 2s both;
  -ms-animation: 2s fadeIn 2s both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Slide up animation for "Rishab Chawla" */
.slide-up {
  position: relative;
  animation: 2s slideUp 2s both;
}

@keyframes slideUp {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    visibility: visible;
    top: 0;
    opacity: 1;
  }
}

/* Slide down animation for "Software Engineer" */
.slide-down {
  position: relative;
  animation: slideDown ease 3s;
  animation-delay: 2s;
}

@keyframes slideDown {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    visibility: visible;
    top: 0;
    opacity: 1;
  }
}

/* Horizontal rule build animation */
.zoom-in {
  animation: zoomIn 0.75s linear forwards;
}

@keyframes zoomIn {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

/* Waving hand emoji. Source: https://jarv.is/notes/css-waving-hand-emoji/ */
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
